<div class="py-4">
    <div class="sorting-holder">
        <div class="d-flex">
            <div class="d-flex align-items-center  flex-part">
                <a href="javascript:void(0)" class="text-nowrap text-uppercase">All</a>
                <a href="javascript:void(0)" class="text-nowrap text-uppercase">Featured</a>
                <a href="javascript:void(0)" class="text-nowrap text-uppercase">On Sale</a>
                <a href="javascript:void(0)" class="text-nowrap text-uppercase">Top Rated</a>
            </div>
        </div>
    </div>
</div>