<div class="grid-part-banner py-4">
    <div class="banner-text-part">
        <p class="text-uppercase font-weight-bold primary-l">-30% Off</p>
        <h1 class="big-text text-uppercase mt-2 mb-5">Smart Watch In Our Store</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt totam at amet aliquam dolorem itaque
            perferendis ad porro itaque perferendis ad porro...</p>

        <h5 class="text-uppercase font-weight-bold my-4">Best Price: <span class="primary-l">$199.00</span></h5>
        <div class="flex-center justify-content-start">
            <button class="btn btn-secondary btn-lg">Learn More</button>
            <button class="btn btn-primary btn-lg ml-2">Add to Cart</button>
        </div>
    </div>
    <div class="banner-image-part">
        <img class="img-fluid" src="assets/images/watch.png" alt="">
    </div>
</div>