<div class="grid-part-tp mt-5 pb-5">
    <div class="grid-part-tp">
        <div class="img-part p-4 flex-center">
            <img class="img-fluid" src="assets/images/mobile.png" alt="">
        </div>

        <div class="text-part p-4">
            <h5 class="primary-l text-uppercase font-weight-bold">Big Summer Sale</h5>
            <h5 class="text-uppercase font-weight-bold">on All Smartphones</h5>

            <p class="my-3"> Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
            <h5>Don't Miss! <span class="primary-l">Upto 70% Off</span></h5>
            <button class="btn btn-primary btn-lg mt-3">Learn More</button>
        </div>
    </div>

    <div class="grid-part-tp">
        <div class="img-part p-4 flex-center">
            <img class="img-fluid" src="assets/images/laptop.png" alt="">
        </div>

        <div class="text-part p-4">
            <h5 class="text-uppercase font-weight-bold">New Trends in Laptop Design</h5>
            <p class="my-3"> Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
            <h5>Over <span class="primary-l">150 Models</span></h5>
            <button class="btn btn-primary btn-lg mt-3">Learn More</button>
        </div>
    </div>
</div>