.grid-part-fp {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
    position: relative;

    .grid-part-fp {
        background-color: white;
        .overlay {
            position: absolute;
            bottom: 0;
            height: 0;
            width: 100%;
            background-color: rgba($color: black, $alpha: 0.3);
            transition: height 0.2s linear;
            overflow: hidden;
        }

        &:hover .overlay {
            height: 100%;
        }
    }
}
